# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\4 семестр\Экзамены\Java\Практика\Java-exam-4-sem--master\Java-exam-4-sem--master\Ex_Tag_tag\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
